#jinja2: lstrip_blocks: True
Hostname    "{{ aerospike_collectd_sourcename }}-{{ ec2_id | default('local') }}"
BaseDir     "/var/lib/collectd"
PIDFile     "/var/run/collectd.pid"
PluginDir   "/usr/lib64/collectd"
TypesDB     "/usr/share/collectd/types.db"
Interval    {{ aerospike_collectd_interval }}
MaxReadInterval    {{ aerospike_collectd_max_read_interval }}

LoadPlugin syslog
<Plugin "syslog">
  LogLevel info
</Plugin>

LoadPlugin cpu
LoadPlugin interface
LoadPlugin load
LoadPlugin memory

LoadPlugin df
<Plugin "df">
  IgnoreSelected true
</Plugin>

LoadPlugin disk
<Plugin "disk">
  {% for disk in aerospike_collectd_disks %}
  Disk "{{ disk }}"
  {% endfor %}
  IgnoreSelected false
</Plugin>

LoadPlugin swap
<Plugin "swap">
  ReportByDevice false
  ReportBytes true
</Plugin>

Include "/etc/collectd.d"
